.project-list {
  width: 100%;
  margin: 2rem auto;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-row {
  backdrop-filter: blur(10px);
  border: solid transparent 1px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-overflow: ellipsis;
  border-bottom: #fff solid 1px;
  overflow: hidden;
  padding: 2rem;
}

.projects-row:hover {
  border-color: #646cff;
}

.project-description {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0, 0.9);
  width: 50vw;
  min-height: 50vh;
  font-family: 'Poppins';
  margin-bottom: 0;
  text-align: justify;
  border-radius: 20px 20px 0 0;
}

.special-underline {
  text-decoration-thickness: 5px;
  text-decoration-color: #646cff;
  text-decoration-line: underline;
  text-decoration-skip: initial;
  text-underline-offset: 15px;
}

.project-header img,
.testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 10;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.project-tags {
  margin: 10px 0;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-tags span {
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: rgb(5, 5, 5);
  border: 1px solid white;
  border-radius: 14px;
  color: #bbb;
  font-family: Poppins;

  &:hover {
    color: white;
  }
}

.project-responsibilities {
  list-style: circle;
  padding-left: 1rem;
  margin: 0 1rem;
}

.project-tags span:hover {
  color: white;
}

.project-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project-header img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.project-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.project-info p {
  color: #888;
  margin: 0;
}

.project-details {
  margin-top: 16px;
}

.project-image {
  border-radius: none;
  width: 100%;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .project-description {
    box-sizing: border-box;
    width: 100%;
  }

  .project-list {
    max-width: 100vw;
    width: 100vw;
    margin: 2rem 0 0 0;
  }

  .book-call-section {
    width: 80vw;
  }
}
