@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "Lilita One", sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

.download-button {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  gap: 0.8rem;
}

.introduction {
  text-align: justify;
}

.centeredSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.projectButtons {
  margin: 6rem;
  display: flex;
  gap: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(0, 0, 0, 0.9);
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
  font-family: "Poppins";
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  font-family: "Poppins", Geneva, Verdana, sans-serif;
}

b {
  font-weight: 600;
}

::selection {
  background-color: #646cff; /* Blue color */
}

html,
body {
  height: 100%;
  display: flex;
}

body {
  background-color: rgb(15, 15, 15);
  color: white;
}

h3 {
  color: rgb(194, 198, 255);
  font-size: 20px;
  font-weight: 500;
}

.testimonial-pic {
  z-index: 10;
}

a:hover {
  color: white;
}

.testimonial-pic img {
  box-shadow: -1px 0 0px 1px rgb(255, 255, 255);
}

.testimonial-pic img:hover {
  box-shadow: -1px 0 0px 1px rgb(255, 255, 255);
}

.testimonies-section {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.testimonies-section img {
  transition: transform 0.4s;
}

.testimonies-section:hover img {
  transform: scale(1.1);
}

.testimonial {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  background-color: #1a1a1a;
  border: 1px solid white;
  border-radius: 8px;
  z-index: 0;
  transition: padding 250ms;
}

blockquote {
  padding: 0.8rem;
  margin: 0;
  margin-left: -2rem;
  padding-left: 3rem;
  padding-right: 1rem;
}

cite {
  color: #888;
}

section {
  margin: 2rem 0;
}

hr {
  margin: 0;
}

.book-call-section {
  border: 1px white solid;
  width: 40vw;
  margin: 1rem;
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 20px;
  transition: 1s;
}

.book-call-section:hover {
  transform: scale(1.05);
}

.arrow-animation::after {
  content: ">";
  color: inherit;
  transition: 400ms;
  opacity: 0;
  width: 0;
}

.arrow-animation:hover::after {
  width: auto;
  opacity: 1;
  margin-left: 8px;
}

.reveal {
  opacity: 0;
  transition: 400ms cubic-bezier(0.5, 0, 0, 1);
}

.reveal-visible {
  opacity: 1;
  transition: 800ms cubic-bezier(0.5, 0, 0, 1);
}

h1 {
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.underline-color {
  text-decoration: underline;
  text-decoration-color: #646cff;
  text-underline-offset: 3px;
}

.poppins {
  font-family: "Poppins";
}
